WebApplication/web/doc/xsd/user.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nome"/>
        <xs:element type="xs:string" name="cognome"/>
        <xs:element type="xs:string" name="nickname"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="indirizzo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>